<div id="modal1" class="modal" materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Пожалуйста, подождите пока сформируется архив с фотографиями.</h4>
    <a *ngIf="isLinkExist" [attr.href]="link">клик</a>
  </div>
  <div class="modal-footer">
    <div *ngIf="!isLinkExist" class="progress">
      <div class="indeterminate"></div>
    </div>
    <button class="waves-effect waves-green btn-flat"
            [disabled]="!isLinkExist"
            (click)="closeModal()">Close
    </button>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content center">
            <span *ngIf="!photos">Подождите, ваши фотографии загружаются.</span>
            <span *ngIf="photos">В данном диалоге у вас - {{this.allPhoto.length}} фото.</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="photos" class="row">
      <div id="columns">
        <figure *ngFor="let photo of photos; let i = index"
                (click)="selectPhoto(i)">
          <img [src]="photo.url">
          <figcaption>
            <span *ngIf="selectedPhoto[i]"
                  class="btn-floating waves-effect waves-light blue">
              <i class="material-icons">done</i>
            </span>
          </figcaption>
        </figure>
      </div>
    </div>

  </div>
</div>

<a *ngIf="countSelectPhoto > 0" (click)="getArchive()"
   class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="material-icons">get_app</i>
  </a>
</a>
