<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-content">

        <ul *ngIf="conversations" class="collection">
          <li *ngFor="let conversation of conversations; let i = index"
              class="collection-item">
            {{i + 1}}. <span *ngIf="conversation.user">{{conversation.user.name}}</span>
            <span *ngIf="conversation.title">{{conversation.title}}</span>
            <button class="btn-flat right" [routerLink]="['/photo', conversation.id]">
              get photos
            </button>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
